@model HospitalManagementSystem.ViewModel.DoctorViewModel
@using HospitalManagementSystem.Common;
@{
    ViewBag.Title = "UpdateDoctorDetail";
}
<section class="content-header">
    <h1>
        Doctor Management
        <small>Registration</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Registration</a></li>
        @*<li class="active">General Elements</li>*@
    </ol>
</section>


<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Registration</h3>
                </div>

                @using (Html.BeginForm("AddDoctor", "Doctor", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                   
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.DoctorDetailId, new { @class = "form-control" })
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                              
                                    </div>
                                </div>

                               

                                <div class="form-group">
                                    @Html.LabelFor(m => m.MobileNo, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control" })
                                  
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                    
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SpecialistList, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.Specialist, Model.SpecialistList, "Select", new { @class = "form-control" })
                                    
                                    </div>

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.StateList, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.State, Model.StateList, "Select", new { @class = "form-control" })
                                      
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.LastName, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                  
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                     
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    @Html.LabelFor(m => m.Code, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                      
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    @Html.LabelFor(m => m.GenderList, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.Gender, Model.GenderList, "Select", new { @class = "form-control" })
                                   
                                    </div>

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CityList, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.City, Model.CityList, "Select", new { @class = "form-control" })
                                    
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">  <button class="btn btn-gradgreen" type="submit"><i class="fa fa-plus-square"></i> SAVE </button></div>
                                <div class="col-md-3">  <button class="btn btn-gradgray pull-right" type="reset"><i class="fa fa-refresh"></i> Reset</button></div>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


