@model HospitalManagementSystem.ViewModel.ResetPasswordViewModel
@using HospitalManagementSystem.Common;
@{
    ViewBag.Title = "Reset Password";
}

<section class="content-header">
    <h1>
        User Management
        <small>Reset Password</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Reset Password</a></li>
        @*<li class="active">General Elements</li>*@
    </ol>
</section>

<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Reset Password</h3>
                </div>

                <div class="box-body">
                    @using (Html.BeginForm("UpdatePassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.UserDetailId, new { @class = "form-control" })
                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@


                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-2"></div>

                                <div class="col-md-4">  <button class="btn btn-gradgreen" type="submit"><i class="fa fa-plus-square"></i> SAVE </button></div>
                                <div class="col-md-6">  <button class="btn btn-gradgray pull-right" type="reset"><i class="fa fa-refresh"></i> Reset</button></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}