
@model HospitalManagementSystem.ViewModel.PatientTreatmentViewModel
@using HospitalManagementSystem.Common;
@{
    ViewBag.Title = "Add";
}

<section class="content-header">
    <h1>
        Patient Treatment Management
        <small>Registration</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="/PatientTreatment/Add">Patient Treatment Registration</a></li>
        @*<li class="active">General Elements</li>*@
    </ol>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Treatment Details</h3>
                </div>

                @using (Html.BeginForm("AddPatientTreatment", "PatientTreatment", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.PatientId, new { @class = "form-control" })

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PatientName, new { @class = "col-sm-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.PatientName, new { placeholder = "Patient Name", @maxlength = "20", @class = "form-control " })
                                       
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.MedicineName, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.MedicineName, Model.MedicineList, "Select Your Medicine Name", new { @class = "form-control" })
                                      
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Quantity, new { @class = "col-sm-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Quantity, new { placeholder = "Quantity", @maxlength = "10", @class = "form-control " })
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DosageDesc, new { @class = "col-sm-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.DosageDesc, new { placeholder = "Dosage Desc", @maxlength = "20", @class = "form-control " })
                                       
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(m => m.Remarks, new { placeholder = "Remarks", @maxlength = "100", @class = "form-control" })
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-header with-border">
                            <h3 class="box-title">Room Details</h3>
                        </div><br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RoomNumber, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.RoomNumber, Model.RoomNumberList, "Select Your RoomNumber", new { @class = "form-control" })
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RoomType, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.RoomType, Model.RoomTypeList, "Select Your RoomType", new { @class = "form-control" })
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Noofdays, new { @class = "col-sm-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Noofdays, new { placeholder = "No of Days", @maxlength = "20", @class = "form-control " })
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RoomPrice, new { @class = "col-sm-3 control-label " })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.RoomPrice, new { placeholder = "Room Price", @maxlength = "20", @class = "form-control " })
                                    
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">  <button class="btn btn-gradgreen pull-left" type="submit"><i class="fa fa-plus-square"></i> SAVE </button></div>
                            <div class="col-md-3">  <button class="btn btn-gradgray pull-right" type="reset"><i class="fa fa-refresh"></i> Reset</button></div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

