@model HospitalManagementSystem.ViewModel.AppointmentViewModel
@using HospitalManagementSystem.Common;

@{
    ViewBag.Title = "UpdateAppointmentDetail";
}

<section class="content-header">
    <h1>
        Appointment Management
        <small>Registration</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Registration</a></li>
        @*<li class="active">General Elements</li>*@
    </ol>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Book Appointment</h3>
                </div>

                @using (Html.BeginForm("AddAppointment", "Appointment", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.TokenNumber, new { @class = "form-control" })
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "FirstName", @class = "form-control" })
                                      
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(m => m.Gender, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.Gender, Model.GenderList, "Select", new { @class = "form-control" })
                                      
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(m => m.Address, new { placeholder = "Address", @class = "form-control" })
                                     
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(m => m.LastName, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.LastName, new { placeholder = "LastName", @class = "form-control" })
                                    
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Age, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Age, new { placeholder = "Age", @class = "form-control" })
                                      
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "PhoneNumber", @class = "form-control" })
                                  
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DateofBirth, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.DateofBirth, new { placeholder = "Date of Birth", htmlAttributes = new { @class = "form-control" } })
                                   
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-header with-border">
                            <h3 class="box-title">Appointment Details</h3>
                        </div><br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConsultingDoctor, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.ConsultingDoctor, new { placeholder = "Doctor Name", @class = "form-control" })
                                     
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.TimeSlot, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.TimeSlot, Model.TimeSlotList, "Select", new { @class = "form-control" })
                                  
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.Department, Model.DepartmentList, "Select", new { @class = "form-control" })
                                
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DateofAppointment, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.DateofAppointment, new { placeholder = "Date of Birth", htmlAttributes = new { @class = "form-control" } })
                                
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Problem, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Problem, new { placeholder = "Injury/Condition", @class = "form-control" })
                              
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">  <button class="btn btn-gradgreen" type="submit"><i class="fa fa-plus-square"></i> SAVE </button></div>
                            <div class="col-md-3">  <button class="btn btn-gradgray pull-right" type="reset"><i class="fa fa-refresh"></i> Reset</button></div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
