@model HospitalManagementSystem.ViewModel.BillingViewModel
@using HospitalManagementSystem.Common;

@{
    ViewBag.Title = "Add";
}

<section class="content-header">
    <h1>
     Billing Patient Management
        <small>Registration</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Registration</a></li>
        @*<li class="active">General Elements</li>*@
    </ol>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Payment</h3>
                </div>

                @using (Html.BeginForm("Add", "Billing", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

            <div class="box-body">

                <div class="form-group">
                    @Html.LabelFor(m => m.PatientName, new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.PatientName, new { placeholder = "PatientName", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PatientName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Department, Model.DepartmentList, "Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Department, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DoctorName, new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.DoctorName, new { placeholder = "PatientName", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DoctorName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AdmitDate, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.AdmitDate, new { placeholder = "Choose AdmitDate", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdmitDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DischargeDate, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.DischargeDate, new { placeholder = "Choose AdmitDate", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DischargeDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <h4>Services</h4>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Service, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Service, Model.ServiceList, "Select Service Name", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Service, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CostofTreatment, new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CostofTreatment, new { placeholder = "Cost of Treatment", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CostofTreatment, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <h4>Payment</h4>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Discount, new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Discount, new { placeholder = "Discount", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Discount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.TotalAmount, new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.TotalAmount, new { placeholder = "Amount", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TotalAmount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Payment, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Payment, Model.PaymentList, "Select Payment", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Payment, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.CheckNo, new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.CheckNo, new { placeholder = "Card/CheckNo", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CheckNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PaymentStatus, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => m.PaymentStatus, new List<SelectListItem>
                   { new SelectListItem{Text="Paid", Value="M"},
                     new SelectListItem { Text = "Unpaid", Value = "U" },
                     new SelectListItem { Text = "Partial", Value = "W" }},
                     "Payment Status", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PaymentStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-4">  <button class="btn btn-gradgreen" type="submit"><i class="fa fa-plus-square"></i> SAVE </button></div>
                            <div class="col-md-2">  <button class="btn btn-gradgray pull-right" type="reset"><i class="fa fa-refresh"></i> Reset</button></div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>


</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

