
@model HospitalManagementSystem.ViewModel.BillingViewModel
@using HospitalManagementSystem.Common;

@{
    ViewBag.Title = "UpdateBillingDetail";
}

<section class="content-header">
    <h1>
        Billing Patient Management
        <small>Registration</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Billing/Add">Billing Registration</a></li>
        @*<li class="active">General Elements</li>*@
    </ol>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Payment</h3>
                </div>

                @using (Html.BeginForm("AddBilling", "Billing", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.PatientId, new { @class = "form-control" })
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PatientName, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.PatientName, new { placeholder = "Patient Name", @maxlength = "20", @class = "form-control" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.Department, Model.DepartmentList, "Select Department", new { @class = "form-control" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.DoctorName, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.DoctorName, new { placeholder = "Doctor Name", @maxlength = "20", @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AdmitDate, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.AdmitDate, new { placeholder = "Select Admit Date", @maxlength = "15", htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DischargeDate, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.DischargeDate, new { placeholder = "Select Discharge Date", @maxlength = "15", htmlAttributes = new { @class = "form-control" } })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <h4>Services</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Service, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.Service, Model.ServiceList, "Select Service Name", new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CostofTreatment, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.CostofTreatment, new { placeholder = "Cost of Treatment", @maxlength = "20", @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <h4>Payment</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DoctorCharges, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.DoctorCharges, new { placeholder = "Doctor Charges", @maxlength = "10", @class = "form-control" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MedicineCharges, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.MedicineCharges, new { placeholder = "Medicine Charges", @maxlength = "10", @class = "form-control" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RoomCharges, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.RoomCharges, new { placeholder = "Room Charges", @maxlength = "10", @class = "form-control" })

                                    </div>

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Discount, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Discount, new { placeholder = "Discount", @maxlength = "3", @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.TotalAmount, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.TotalAmount, new { placeholder = "Amount", @maxlength = "10", @class = "form-control" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Payment, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.Payment, Model.PaymentList, "Select Payment Type", new { @class = "form-control" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.CheckNo, new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.CheckNo, new { placeholder = "Card/CheckNo", @maxlength = "20", @class = "form-control" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PaymentStatus, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.PaymentStatus, Model.PaymentStatusList, "Select Payment Status", new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">  <button class="btn btn-gradgreen pull-left" type="submit"><i class="fa fa-plus-square"></i> SAVE </button></div>
                            <div class="col-md-3">  <button class="btn btn-gradgray pull-right" type="reset"><i class="fa fa-refresh"></i> Reset</button></div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>


</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0",
            onSelect: function (dateString, txtDate) {
               /* alert("Selected Date: " + dateString + "\nTextBox ID: " + txtDate.id);*/
            }
        });

    });
</script>


